body {
	width: 100vw;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

.centra-margin {
	background-color: red;
	height: fit-content;
	width: calc(100vw - 150px);
	margin-right: 30px;
	position: absolute;
	top: 70px;
	margin-left: 150px;
	padding-left: 20px;
	z-index: 4;
	margin-right: 0;
	padding-right: 0;
	overflow: hidden;
}

.App-header {
	background-color: aqua;
	width: 100vw !important;
	padding-left: 30px;
	height: 70px;
	/* padding: 0; */
	margin: 0;
	position: fixed;
	/* top: 0; */
	z-index: 6;
	width: 100vw !important;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sidebar {
	width: 150px;
	height: 100vh !important;
	background-color: blueviolet;
	position: fixed;
	top: 68px;
	bottom: 0;
	z-index: 5;
}

.App-header h1 {
	padding: 0;
	margin: 0;
	font-size: 18px;
}

/* RESPONSIVENESS */

@media (max-width: 1024px) {
	.SidebarDefault {
		display: none;
	}
	.showSidebar {
		position: fixed;
		z-index: 99;
		animation: showBar 300ms ease forwards;
	}
	@keyframes showBar {
		0% {
			transform: translateX(-150px);
		}
		100% {
			transform: translateX(0);
		}
	}
	.hideSidebar {
		position: relative;
		z-index: 99;
		animation: hideBar 300ms ease forwards;
	}
	@keyframes hideBar {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(-150px);
		}
	}
	.centra-margin {
		background-color: red;
		height: 900px;
		width: 100vw;
		position: absolute;
		top: 70px;
		z-index: 4;
		margin: 0;
		overflow: hidden;
	}
}
